.hidden {
  display: none;
}

.visible {
  display: block;
}
.container {
  width: 350px;
  height: 350px;
  border-radius: 105px;
  top: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-black);
}
